@font-face {
    font-family: new;
    src: url(./neue-haas-grotesk-display-pro-cufonfonts);
}

body::-webkit-scrollbar{

    display: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Gilroy;
}  

.main {
    position: relative;
    z-index: 10;
    overflow: hidden;
  
   
}

.main::-webkit-scrollbar {
    display: none;
}



html , body{
    width: 100%;
    height: 100%;
}

#page-1{
    width: 100%;
     min-height: 100%;
    background-color: #EFEAE3;
    padding: 3vh 3vh;

}

nav{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.nav-1{
    display: flex;
    gap: 40px;
    padding: 10px 10px;
    
}

.nav-1   h4{
    width: 100px;
    height: 40px;
    border: 2px solid white;
    text-align: center;
    color: rgba(0, 0, 0, 0.897);
    border-radius: 50px;
    padding-top: 10px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.nav-1 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}



.nav-1  h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    bottom: -100%;
    border-radius: 30%;
    transition: all ease 0.4s;
    
}

.nav-1 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-1 h4:hover a{
    color: white;
    
}

#center {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: new;
    border-bottom: 1px solid brown;
    padding: 3vh 3vh;
}

#left {
    font-size: 3.5vh;
    text-align: left;
    font-family: new;
}
#right {
    font-size: 6vh;
    text-align: right;
    font-family: new;
}

#v1{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}


.ani {
    width: 100%;
    height: 60vh;
    position: absolute;
}


#ani-1 {
    width: 65vh;
    height: 50vh;
    position: absolute;
    right: 50px;
    top: -5%;
    filter: blur(20px);
    background-color: orangered;
    border-radius: 50% ;
    animation: anime-2 infinite 5s alternate-reverse linear;
}
#ani-2 {
    width: 65vh;
    height: 65vh;
    position: absolute;
    right: -10%;
    top: -40%;
    filter: blur(20px);
    background-color: orangered;
    border-radius: 50% ;
    animation: anime-1 infinite 5s alternate-reverse linear;
   
}

@keyframes anime-1 {
    from{
        right: -10%;
        top: -40%;
    }

    to{
        right: 0px;
        top: 0px;
    }
}
@keyframes anime-2 {
    from{
        right: 50px;
        top: -5%;
    }

    to{
        right: 20px;
        top: -30%;
    }
}

#page-2{
    min-height: 150vh;
    width: 100%;
    background-color:  #EFEAE3;
    position: relative;
    padding-top: 5vh;
}


#move-text{
    white-space: nowrap;
    overflow-x: hidden;
    

}

.con{
    white-space: nowrap;
    display: inline-block;
    animation: moving-text 7s infinite linear;
}

.con h1 {
    font-size: 10vh;
    white-space: nowrap;
    display: inline-block;
}

.gol {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orangered;
    white-space: nowrap;
    display: inline-block;
    margin: 0.5vw 1vw;
    

}

@keyframes moving-text {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

#page-bot {
    width: 100%;
    height: 70vh;
    background-color:  #EFEAE3;
    display: flex;
    
}

#page-bot-p1 {
    width: 70%;
    height: 70vh;
    font-size: 7vh;
    text-align: left;
    padding-top: 20vh;
    padding-left: 8vh;
    
    
    
}

#page-bot-p1  h3{
   position: relative;
   z-index: 9;
}

#page-bot-p2 {
    width: 30%;
    height: 70vh;
    
    
}

.col {
    width: 60%;
    height: 50vh;
    margin-top: 35vh;
    margin-left: 10vh;
 
   
    
}

#img-2 {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.tex {
    padding-top: 40px;
}

#bol-2{
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background-color: orangered;
    filter: blur(20px);
    top: -30%;
    left: 30%;
    position: absolute;
    animation: anime-3 4s infinite alternate-reverse linear;
}

@keyframes anime-3 {
    from{
        top: 10%;
        left: 30%;
        transform: skew(0);
    }
    to{
        top: 30%;
        left: 40%;
        transform: skew(-10deg);
    }
}

#page-3 {
    width: 100%;
     min-height: 150vh;
    padding-top: 40vh;
    background-color:  #EFEAE3;
    
    
}

.page-3-p1 {
    width: 100%;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 23px;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
    
}

.page-3-p1 h2 {
    font-size: 5vh;
    position: relative;
    z-index: 9;
}

.line {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #FF9831;
    left: -10px;
    transition: 0.4s;
    top: -110%;
}

.page-3-p1:hover .line{
    top: 0%;
    left: -10px;
}

.main-2{
    height: 30vw;
    width: 24vw;
    /* background-color: red;  */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
   

}

.btn h5 a{
    text-decoration: none;
    z-index: 10;
    position: relative;
    color: black;
    text-align: center;
    padding-left: 13px;
    margin-top: 12px;
         
}

.btn h5:hover a{
    color: white;
}


.btn   h5{
    width: 100px;
    height: 40px;
    border: 2px solid white;
    text-align: center;
    color: rgba(0, 0, 0, 0.897);
    border-radius: 50px;
    padding-top: 10px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    padding-right: 5px ;
}

.btn {
    
    margin-top: 3.5vh;
    margin-left: 3vh;    
}

.btn h5::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 60px;
    bottom: -110%;
    left: 0px;
    transition: 0.4s ;

}

.btn h5:hover::after {
    bottom: 0px;
    left: 0px;
    

}


#page-4 {
    min-height: 180vh;
    width: 100%;
    background-color:  #EFEAE3 ;
}

#page-4-p1 {
    width: 100%;
    height: 90vh;  
   padding-top: 15vh;
   margin-left: 50px;
   margin-left: 50px;

 
}

.deg {
    width: 93%;
    height: 90vh;
    background-color: black;
    border-radius: 40px;
    display: flex;
}

#side-1 {
   
    width: 700px;
    height: 90vh;
    color: rgba(255, 255, 255, 0.609);
    border-radius: 40px;
    /* background-color: aqua; */
    font-size: 8vh;
    align-items: center;
    text-align: left;
    padding-top: 20vh;
    padding-left: 200px;
  
    
}

.side-p1 {
    color: rgba(255, 255, 255, 0.609);;
}

.side-p1:hover {
    color: white;
}

#side-2 {
    width: 920px;
    height: 90vh;
    border-radius: 40px;
    background-image: url("https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg");
    background-size: cover;
    background-color: aqua;


}

#page-4-p1 p {
    font-size: 15px;
    color: aliceblue;
    padding-top: 8vh;
}


#fotter {
    width: 100%;
    min-height: 80vh;
    background-color: black;
    color: white;
    align-items: flex-end;
    z-index: 8;
    bottom: 0;
    justify-content: flex-end;
    padding-top: 18vh;
    position: relative;

}

#fotter h1 {
    font-size: 40vh;
    text-align: center;
    padding-top: 50vh;
    padding-bottom: 10vh;
    border-bottom: 1px white solid;
}

.fot-div{
    width: 100%;
    height: 150px;
   
    display: flex;
    justify-content: space-between;

   
}
.fot-1 {
    color: white;
    height: 150px;
    width: 400px;
    font-size: 6vh;
   padding-left: 210px;
   text-align: left;
   z-index: 9;
}

.fot-2 {
    color: white;
    height: 150px;
    padding-right: 150px;
    font-size: 4vh;
    z-index: 9;
  
}

.anii-1 {
    position: absolute;
    width: 150vh;
    height: 150vh;
    background-color: #FE330A;
    margin-top: -600px;
    filter: blur(30px);
    margin-left: -150px;
    transform: rotate(75deg);
    animation: ani-1 2.3s alternate-reverse  infinite;
}
.anii-2 {
    position: absolute;
    width: 150vh;
    height: 150vh;
    background-color: #FE330A;
    filter: blur(30px);
    margin-top: -600px;
    right: -150px;
    transform: rotate(-75deg);
    animation: ani-2 2.3s alternate-reverse infinite ;
}

@keyframes ani-1 {
    from{
        transform: rotate(75deg);
    }
    to{
        transform: rotate(90deg);
    }
}
@keyframes ani-2 {
    from{
        transform: rotate(-75deg);
    }
    to{
        transform: rotate(-90deg);
    }
}

#loder {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    position: absolute;
    top: 0;
   transition: all linear 0.5s;
   justify-items: center;
   display: flex;
   text-align: center;
}

#loder h1 {
    padding-top: 360px; 
    padding-left: 650px;
    position: absolute;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text ;
    opacity: 0;
    font-size: 5vh;

}

#loder h1:nth-child(1){
    animation:  lodar-1 1.5s linear ;
    animation-delay: 0.5s;
}

@keyframes lodar-1 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#loder h1:nth-child(2){
    animation:  lodar-2 1.5s linear ;
    animation-delay: 2.3s;
}

@keyframes lodar-2 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#loder h1:nth-child(3){
    animation:  lodar-3 1.5s linear ;
    animation-delay: 4.2s;
}

@keyframes lodar-3 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}